Source: hadoop-gpl-compression
Section: devel
Priority: extra
Maintainer: Todd Lipcon <todd@cloudera.com>
Build-Depends: debhelper (>= 5), sun-java6-jdk, liblzo2-dev, ant
Standards-Version: 3.8.0
Homepage: http://code.google.com/p/hadoop-gpl-compression/

Package: hadoop-gpl-compression
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: GPL compression libraries for Hadoop
 Hadoop can use some compression libraries like LZO that are released
 under a GPL license. GPL is not compatible with the Apache license.
 This package installs those libraries into hadoop so they are usable.
